name: validate token list

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 8.6.0

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: validate
        run: pnpm run validate
